* {
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size:  62.5%;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111;
    position: relative;
}

:root {
    --lightColor: rgb(210, 214, 188);
    --darkColor: rgb(43, 131, 46);
}

.chess-board {
    width: 60rem;
    height: 60rem;
    max-width: 160rem;
    max-height: 160rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    zoom: 1.1;
    user-select: none;
}

.board-row {
    display: flex;
    width: 100%;
    height: 12.5%;
}

.square {
    width: 12.5%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light {
    background: var(--lightColor);
    color: var(--lightColor);
}

.dark {
    background: var(--darkColor);
    color: var(--darkColor)
}

.r {
    font-family: 'rubik', sans-serif;
    position: absolute;
    top: .3rem;
    left: .3rem;
    background-color: transparent;
    font-weight: bolder;
    font-size: 1.2rem;
    z-index: 5;
}

.c {
    font-family: 'rubik', sans-serif;
    position: absolute;
    bottom: .2rem;
    right: .2rem;
    background-color: transparent;
    font-weight: bolder;
    font-size: 1.2rem;
    z-index: 5;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.couldMove {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: rgb(2, 53, 5, .4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .1rem rgba(59, 59, 59, 0.1) solid;
    pointer-events: none;
}

.hidden {
    display: none;
}

.prev {
    background: rgb(216, 216, 102);
}

.prev2 {
    background: rgb(191, 191, 59);
}

.highlight {
    background: rgb(228, 81, 81) !important;
}

.highlight2 {
    background: rgb(187, 51, 51) !important;
}

#canvas {
    position: absolute;
    zoom: 1.1;
    z-index: 100;
    pointer-events: none;
}

.promotion-panel {
    position: absolute;
    display: none;
    width: 25rem;
    height: 6rem;
    border: .1rem black solid;
    background: #444;
    margin-left: .5rem;
    border-radius: 2rem;
    box-shadow: 0 0 .1rem white;
    scale: 1.2;
    z-index: 1000;
}

.promotion-panel.active {
    display: flex;
}

.promotion-panel .white-pieces,
.promotion-panel .black-pieces {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.promotion-panel .white-pieces.active,
.promotion-panel .black-pieces.active {
    display: flex;
}

.promotion-panel .white-pieces img,
.promotion-panel .black-pieces img {
    width: 8rem;
    scale: 1.1;
    cursor: pointer;
    border-radius: 1rem;
    margin: 0 .5rem;
    transition: .5s scale;
    background: #333;
}

.promotion-panel .white-pieces img:hover,
.promotion-panel .black-pieces img:hover {
    scale: 1.2;
}

.audio {
    display: none;
}

.end-panel {
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border-radius: 2rem;
    color: #f3f3f3;
    display: none;
    opacity: 0;
    transition: 1s opacity;
}

.wave {
    height: 30%;
    width: 100%;
    background: rgba(85, 85, 85, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}

.cont {
    height: 70%;
    width: 100%;
    background: rgba(68, 68, 68, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont h2 {
    font-size: 2.5rem;
}

.cont * {
    margin: 1rem;
}

.buttons-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont button {
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(43, 131, 46);
    border: none;
    outline: none;
    padding: .5rem .7rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s scale;
    cursor: pointer;
}

.cont button:hover {
    scale: 1.1;
}

.conferm-panel {
    font-weight: 300;
    width: 40rem;
    height: 30rem;
}

.conferm-text h2{
    font-size: 2.5rem;
    font-weight: 300;
}

.conferm-buttons button {
    font-weight: 400;
    font-size: 1.8rem;
}

.data-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.5rem;
    position: relative;
    zoom: 1.1;
    font-size: 1.6rem;
}

.player-place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3rem 0 1.3rem 1rem;
    color: rgb(205, 213, 229);
}

.player-place p {
    margin: .5rem 0;
}

.player-place span {
    margin: 0;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    padding: .2rem;
    width: 12.5rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    translate: -.5rem;
    background-color: rgb(16, 19, 43);
}

.time {
    font-weight: 300;
}

.active-timer {
    background-color: rgb(173, 173, 188);
    color: rgb(15, 16, 25);
}

.control-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 0 0 .7rem;
}

.control-buttons button {
    margin: .3rem 0;
    width: 3.7rem;
    height: 3.7rem;
    background-color: rgb(36, 35, 38);
    border: none;
    cursor: pointer;
    transition: scale .3s;
    z-index: 999;
}

.control-buttons button svg {
    fill: rgb(183, 183, 194);
    width: 100%;
    height: 100%;
}

.control-buttons button:hover {
    scale: 1.1;
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 50%;
    }

    body {
        flex-direction: column;
    }

    .data-panel {
        flex-direction: row;
        margin: 0;
    }

    .control-buttons {
        flex-direction: row;
        margin-top: 2rem;
    }

    .control-buttons button {
        margin: 0 .3rem;
    }

    .player2-place p {
        order: -1;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 35%;
    }
}